@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Cadastro de Produto</h1>
<form>
    <div class="row">
        <div class="col">
            <label class="form-label">Código</label>
            <input type="text" class="form-control">
        </div>


        <div class="col">
            <label class="form-label">Produto</label>
            <input type="text" class="form-control">

        </div>


        <div class="col">
            <label class="form-label">Data de Cadastro</label>
            <input type="date" class="form-control">
        </div>

    </div>



    

    

    

    <label class="form-label"> Descrição  </label>
    <input type="text" class="form-control">

    <label class="form-label">Preço</label>
    <input type="text" class="form-control">

    <label class="form-label">Estoque Atual</label>
    <input type="text" class="form-control">
    
    <label class="form-label">EStoque Mínimo</label>
    <input type="text" class="form-control">

    <label class="form-label">Estoque Máximo</label>
    <input type="text" class="form-control">
</form>